body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  color: #6bad83;

}
#header {
  margin-top: 0px;
  text-align: center;
}
#main {
  background-image: url("../img/map.jpg");
  background-size: cover;
  height: 700px;
  width: 1450px;
  position: fixed;
  text-align: center;
  position: relative;
}
h1 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-shadow: 3px 3px 10px lightgrey;
}


/* IMAGES */



img:hover {
  transform: rotate(-360deg);
  transition: all ease 2.0s;
  /*box-sizing: border-box;*/
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  /*transition: all ease 3.0s;*/
}


#ocelot {
  height: 50px;
  position: relative;
  margin-left: -58%;
  margin-top: 12%;
  padding: 10px;
}
#ocelottext {
  display: none;
}
/*#ocelot:hover {

}*/
#howler {
  height: 60px;
  position: absolute;
  margin-left: 5%;
  margin-top: 24%;
}
#panda {
  height: 50px;
  position: absolute;
  margin-left: 50%;
  margin-top: 11%;
}
#hyena {
  height: 50px;
  position: absolute;
  margin-left: 31%;
  margin-top: 13%;
}
#lion {
  height: 70px;
  position: absolute;
  margin-left: 25%;
  margin-top: 15%;
}
#yak {
  height: 55px;
  position: absolute;
  margin-left: 45%;
  margin-top: 5%;
}
#whale {
  height: 50px;
  position: absolute;
  margin-left: -10%;
  margin-top: 33%;
}
#wolverine {
  height: 70px;
  position: absolute;
  margin-left: 25%;
  margin-top: 4%;
}
#greyparrot {
  height: 60px;
  position: absolute;
  margin-left: 30%;
  margin-top: 27%;
}
#wallaby {
  height: 60px;
  position: absolute;
  margin-left: 57%;
  margin-top: 31%;
}

.tooltip::after, .tooltip::before {
  position: absolute;
  margin-left: 50px;
  margin-right: auto;
  /*transform: translate(-50%);*/
  top: 75%;
  opacity: 0;
  transition: all ease 1.5s;

}
/*.tooltip::before {
  content: "";
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: (0,0,0,0.5) transparent transparent transparent;
  margin-left: -8px;
  top: -20px;
}*/
.tooltip::after {
  content: attr(data-tooltip);
  background: rgba(0,0,0,0.3);
  /*top: -20px;*/
  font-size: 10px;
  width: 650px;
  /*margin-left: 0px;*/
  padding: 14px;
  border-radius: 10px;
  color: #eee;
  border: 1px solid rgba(0,0,0,0.2);
  /*transform: translateY(-100);*/
}

.tooltip:hover::before, .tooltip:hover::after {
  opacity: 1;
}
